:root {
  --clr-accent: #ff5f38;
  --clr-white: #efeae3;
  --clr-black: #0b0500;

  --size-400: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  font-weight: 500;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  position: relative;
}

nav {
  padding: 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-content {
  display: flex;
  align-items: center;
  gap: 1vw;

  h4 {
    padding: 10px 20px;
    border: 1px solid rgba(11, 5, 0, 0.2);
    border-radius: 100vmax;
    color: var(--clr-black);
    font-size: 1.25em;

    ::after {
      content: "";
    }
  }
}
